# Notification Email Target
NOTIFICATION_EMAIL="info@kumitekarate.lv"

# Serverless Cloud Persistence (Upstash Redis KV)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Serverless Email Delivery (Resend API)
RESEND_API_KEY=""
